# loading data

In [68]:
import pandas as pd
df=pd.read_csv("MTA.csv")
df

/var/folders/2h/mxr2292918v68144kbqd531r0000gn/T/ipykernel_34089/2982825838.py:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("MTA.csv")

,transit_timestamp,transit_mode,station_complex_id,station_complex,borough,payment_method,fare_class_category,ridership,transfers,latitude,longitude,Georeference
0,01/03/2025 12:00:00 AM,tram,TRAM2,RI Tramway (Roosevelt),Manhattan,omny,OMNY - Full Fare,12,7,40.757340,-73.95412,POINT (-73.95412 40.75734)
1,01/03/2025 06:00:00 AM,tram,TRAM1,RI Tramway (Manhattan),Manhattan,omny,OMNY - Seniors & Disability,1,1,40.761337,-73.96416,POINT (-73.96416 40.761337)
2,01/03/2025 07:00:00 AM,tram,TRAM2,RI Tramway (Roosevelt),Manhattan,metrocard,Metrocard - Unlimited 30-Day,10,0,40.757340,-73.95412,POINT (-73.95412 40.75734)
3,01/03/2025 08:00:00 AM,tram,TRAM1,RI Tramway (Manhattan),Manhattan,metrocard,Metrocard - Unlimited 30-Day,5,0,40.761337,-73.96416,POINT (-73.96416 40.761337)
4,01/03/2025 10:00:00 AM,tram,TRAM1,RI Tramway (Manhattan),Manhattan,omny,OMNY - Students,1,0,40.761337,-73.96416,POINT (-73.96416 40.761337)
...,...,...,...,...,...,...,...,...,...,...,...,...
7540355,03/24/2025 01:00:00 PM,tram,TRAM1,RI Tramway (Manhattan),Manhattan,metrocard,Metrocard - Seniors & Disability,1,1,40.761337,-73.96416,POINT (-73.96416 40.761337)
7540356,03/24/2025 01:00:00 PM,tram,TRAM2,RI Tramway (Roosevelt),Manhattan,metrocard,Metrocard - Full Fare,17,4,40.757340,-73.95412,POINT (-73.95412 40.75734)
7540357,03/24/2025 04:00:00 PM,tram,TRAM2,RI Tramway (Roosevelt),Manhattan,metrocard,Metrocard - Other,2,0,40.757340,-73.95412,POINT (-73.95412 40.75734)
7540358,03/24/2025 10:00:00 PM,tram,TRAM1,RI Tramway (Manhattan),Manhattan,omny,OMNY - Full Fare,42,11,40.761337,-73.96416,POINT (-73.96416 40.761337)
7540359,03/24/2025 10:00:00 PM,tram,TRAM2,RI Tramway (Roosevelt),Manhattan,metrocard,Metrocard - Fair Fare,1,0,40.757340,-73.95412,POINT (-73.95412 40.75734)

# cleaning

In [69]:
df['datetime'] = pd.to_datetime(df['transit_timestamp'])
df['date'] = df['datetime'].dt.date
df

/var/folders/2h/mxr2292918v68144kbqd531r0000gn/T/ipykernel_34089/2017957894.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['datetime'] = pd.to_datetime(df['transit_timestamp'])

,transit_timestamp,transit_mode,station_complex_id,station_complex,borough,payment_method,fare_class_category,ridership,transfers,latitude,longitude,Georeference,datetime,date
0,01/03/2025 12:00:00 AM,tram,TRAM2,RI Tramway (Roosevelt),Manhattan,omny,OMNY - Full Fare,12,7,40.757340,-73.95412,POINT (-73.95412 40.75734),2025-01-03 00:00:00,2025-01-03
1,01/03/2025 06:00:00 AM,tram,TRAM1,RI Tramway (Manhattan),Manhattan,omny,OMNY - Seniors & Disability,1,1,40.761337,-73.96416,POINT (-73.96416 40.761337),2025-01-03 06:00:00,2025-01-03
2,01/03/2025 07:00:00 AM,tram,TRAM2,RI Tramway (Roosevelt),Manhattan,metrocard,Metrocard - Unlimited 30-Day,10,0,40.757340,-73.95412,POINT (-73.95412 40.75734),2025-01-03 07:00:00,2025-01-03
3,01/03/2025 08:00:00 AM,tram,TRAM1,RI Tramway (Manhattan),Manhattan,metrocard,Metrocard - Unlimited 30-Day,5,0,40.761337,-73.96416,POINT (-73.96416 40.761337),2025-01-03 08:00:00,2025-01-03
4,01/03/2025 10:00:00 AM,tram,TRAM1,RI Tramway (Manhattan),Manhattan,omny,OMNY - Students,1,0,40.761337,-73.96416,POINT (-73.96416 40.761337),2025-01-03 10:00:00,2025-01-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7540355,03/24/2025 01:00:00 PM,tram,TRAM1,RI Tramway (Manhattan),Manhattan,metrocard,Metrocard - Seniors & Disability,1,1,40.761337,-73.96416,POINT (-73.96416 40.761337),2025-03-24 13:00:00,2025-03-24
7540356,03/24/2025 01:00:00 PM,tram,TRAM2,RI Tramway (Roosevelt),Manhattan,metrocard,Metrocard - Full Fare,17,4,40.757340,-73.95412,POINT (-73.95412 40.75734),2025-03-24 13:00:00,2025-03-24
7540357,03/24/2025 04:00:00 PM,tram,TRAM2,RI Tramway (Roosevelt),Manhattan,metrocard,Metrocard - Other,2,0,40.757340,-73.95412,POINT (-73.95412 40.75734),2025-03-24 16:00:00,2025-03-24
7540358,03/24/2025 10:00:00 PM,tram,TRAM1,RI Tramway (Manhattan),Manhattan,omny,OMNY - Full Fare,42,11,40.761337,-73.96416,POINT (-73.96416 40.761337),2025-03-24 22:00:00,2025-03-24
7540359,03/24/2025 10:00:00 PM,tram,TRAM2,RI Tramway (Roosevelt),Manhattan,metrocard,Metrocard - Fair Fare,1,0,40.757340,-73.95412,POINT (-73.95412 40.75734),2025-03-24 22:00:00,2025-03-24

In [70]:
import datetime
march = df[df['date'] == datetime.date(2025, 3, 24)]
march

,transit_timestamp,transit_mode,station_complex_id,station_complex,borough,payment_method,fare_class_category,ridership,transfers,latitude,longitude,Georeference,datetime,date
23377,03/24/2025 12:00:00 AM,subway,10,"49 St (N,R,W)",Manhattan,omny,OMNY - Fair Fare,1,0,40.759900,-73.98414,POINT (-73.98414 40.7599),2025-03-24 00:00:00,2025-03-24
23378,03/24/2025 01:00:00 AM,subway,14,"23 St (R,W)",Manhattan,omny,OMNY - Students,1,0,40.741302,-73.98934,POINT (-73.98934 40.741302),2025-03-24 01:00:00,2025-03-24
23379,03/24/2025 08:00:00 AM,subway,94,Halsey St (J),Brooklyn,omny,OMNY - Other,2,0,40.686370,-73.91656,POINT (-73.91656 40.68637),2025-03-24 08:00:00,2025-03-24
23380,03/24/2025 09:00:00 AM,subway,235,York St (F),Brooklyn,omny,OMNY - Other,1,0,40.701397,-73.98675,POINT (-73.98675 40.701397),2025-03-24 09:00:00,2025-03-24
23381,03/24/2025 11:00:00 AM,subway,145,190 St (A),Manhattan,omny,OMNY - Students,4,0,40.859020,-73.93418,POINT (-73.93418 40.85902),2025-03-24 11:00:00,2025-03-24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7540355,03/24/2025 01:00:00 PM,tram,TRAM1,RI Tramway (Manhattan),Manhattan,metrocard,Metrocard - Seniors & Disability,1,1,40.761337,-73.96416,POINT (-73.96416 40.761337),2025-03-24 13:00:00,2025-03-24
7540356,03/24/2025 01:00:00 PM,tram,TRAM2,RI Tramway (Roosevelt),Manhattan,metrocard,Metrocard - Full Fare,17,4,40.757340,-73.95412,POINT (-73.95412 40.75734),2025-03-24 13:00:00,2025-03-24
7540357,03/24/2025 04:00:00 PM,tram,TRAM2,RI Tramway (Roosevelt),Manhattan,metrocard,Metrocard - Other,2,0,40.757340,-73.95412,POINT (-73.95412 40.75734),2025-03-24 16:00:00,2025-03-24
7540358,03/24/2025 10:00:00 PM,tram,TRAM1,RI Tramway (Manhattan),Manhattan,omny,OMNY - Full Fare,42,11,40.761337,-73.96416,POINT (-73.96416 40.761337),2025-03-24 22:00:00,2025-03-24
7540359,03/24/2025 10:00:00 PM,tram,TRAM2,RI Tramway (Roosevelt),Manhattan,metrocard,Metrocard - Fair Fare,1,0,40.757340,-73.95412,POINT (-73.95412 40.75734),2025-03-24 22:00:00,2025-03-24

In [71]:
columns_to_drop = ["transit_timestamp", "date","transit_mode", "station_complex_id", "payment_method", "fare_class_category", "transfers"]
march = march.drop(columns=columns_to_drop)
march

,station_complex,borough,ridership,latitude,longitude,Georeference,datetime
23377,"49 St (N,R,W)",Manhattan,1,40.759900,-73.98414,POINT (-73.98414 40.7599),2025-03-24 00:00:00
23378,"23 St (R,W)",Manhattan,1,40.741302,-73.98934,POINT (-73.98934 40.741302),2025-03-24 01:00:00
23379,Halsey St (J),Brooklyn,2,40.686370,-73.91656,POINT (-73.91656 40.68637),2025-03-24 08:00:00
23380,York St (F),Brooklyn,1,40.701397,-73.98675,POINT (-73.98675 40.701397),2025-03-24 09:00:00
23381,190 St (A),Manhattan,4,40.859020,-73.93418,POINT (-73.93418 40.85902),2025-03-24 11:00:00
...,...,...,...,...,...,...,...
7540355,RI Tramway (Manhattan),Manhattan,1,40.761337,-73.96416,POINT (-73.96416 40.761337),2025-03-24 13:00:00
7540356,RI Tramway (Roosevelt),Manhattan,17,40.757340,-73.95412,POINT (-73.95412 40.75734),2025-03-24 13:00:00
7540357,RI Tramway (Roosevelt),Manhattan,2,40.757340,-73.95412,POINT (-73.95412 40.75734),2025-03-24 16:00:00
7540358,RI Tramway (Manhattan),Manhattan,42,40.761337,-73.96416,POINT (-73.96416 40.761337),2025-03-24 22:00:00
7540359,RI Tramway (Roosevelt),Manhattan,1,40.757340,-73.95412,POINT (-73.95412 40.75734),2025-03-24 22:00:00

In [72]:
march['station_complex'].unique()

array(['49 St (N,R,W)', '23 St (R,W)', 'Halsey St (J)', 'York St (F)',
       '190 St (A)', '53 St (R)', 'Gun Hill Rd (5)', 'Broadway (G)',
       'Forest Av (M)', '231 St (1)', '238 St (1)', '7 Av (E,B,D)',
       'Van Siclen Av (C)', '88 St (A)', 'Buhre Av (6)', '45 St (R)',
       'Brook Av (6)', '36 Av (N,W)', '183 St (4)', 'Broadway (N,W)',
       '104 St (J,Z)', '170 St (4)', '8 Av (N)', 'Bay Pkwy (D)',
       'Franklin Av (C,S)', 'Avenue I (F)', '233 St (2,5)', '103 St (1)',
       'E 149 St (6)', '176 St (4)', '18 Av (D)', '23 St (F,M)',
       'Sutter Av (L)', 'Kingsbridge Rd (B,D)', 'Hewes St (M,J)',
       '145 St (3)', '71 St (D)', '174-175 Sts (B,D)', '57 St (F)',
       '219 St (2,5)', 'Park Pl (S)', '3 Av (L)', 'Avenue M (Q)',
       '86 St (C,B)', '8 St-NYU (R,W)', '23 St (C,E)', 'Longwood Av (6)',
       'Court Sq (E,G,M,7)', 'Shepherd Av (C)', '125 St (A,C,B,D)',
       'Castle Hill Av (6)', 'Church Av (B,Q)', '86 St (R)', '2 Av (F)',
       'City Hall (R,W)', '207 St (1)', 'Graham Av (L)', '28 St (1)',
       'Elmhurst Av (M,R)', 'Myrtle Av (M,J,Z)', '50 St (D)',
       'Pelham Pkwy (2,5)', 'Prospect Park (B,Q,S)', 'Mt Eden Av (4)',
       '79 St (D)', 'Cypress Av (6)', 'Bowery (J,Z)', '175 St (A)',
       '5 Av/59 St (N,R,W)', '25 Av (D)', 'E 180 St (2,5)',
       'Elder Av (6)', '75 Av (E,F)', '181 St (1)', '9 Av (D)',
       'Jamaica-179 St (F)', '215 St (1)', '72 St (C,B)', '167 St (B,D)',
       'Prospect Av (R)', 'Lafayette Av (C)', '21 St (G)', '135 St (2,3)',
       '96 St (Q)', 'Atlantic Av (L)', '86 St (N)', 'Intervale Av (2,5)',
       'Avenue X (F)', '174 St (2,5)', 'Neptune Av (F)', '33 St (6)',
       '36 St (M,R)', '30 Av (N,W)', 'Nereid Av (2,5)', 'Gates Av (J,Z)',
       '20 Av (D)', '80 St (A)', '36 St (D,N,R)', 'Carroll St (F,G)',
       '20 Av (N)', 'Fulton St (G)', 'Hoyt St (2,3)', '25 St (R)',
       '86 St (1)', '1 Av (L)', 'Cypress Hills (J)', 'Sutphin Blvd (F)',
       '23 St (1)', '65 St (M,R)', 'Bay 50 St (D)', '40 St-Lowery St (7)',
       'Nostrand Av (3)', 'Avenue H (Q)', 'Woodlawn (4)', '111 St (J)',
       'Kosciuszko St (J)', 'Canal St (1)', 'Jackson Av (2,5)',
       'Brighton Beach (B,Q)', '72 St (1,2,3)', '61 St-Woodside (7)',
       'Middletown Rd (6)', '86 St (Q)', 'Zerega Av (6)', '77 St (6)',
       '50 St (1)', '111 St (A)', 'Jefferson St (L)',
       'Bushwick Av-Aberdeen St (L)', 'New Lots Av (L)',
       '145 St (A,C,B,D)', '50 St (C,E)', '34 St-Penn Station (A,C,E)',
       'W 4 St-Wash Sq (A,C,E,B,D,F,M)', 'Canal St (A,C,E)',
       'Prince St (R,W)', 'Hoyt-Schermerhorn Sts (A,C,G)',
       'Nostrand Av (A,C)', 'Ralph Av (C)', 'Rockaway Av (C)',
       'Euclid Av (A,C)', 'Rockaway Blvd (A)',
       'Ozone Park-Lefferts Blvd (A)', 'Howard Beach-JFK Airport (A)',
       'Fordham Rd (B,D)', 'Tremont Av (B,D)', '170 St (B,D)',
       'Bronx Park East (2,5)', '155 St (B,D)',
       '47-50 Sts-Rockefeller Ctr (B,D,F,M)', 'East Broadway (F)',
       '7 Av (F,G)', 'Ditmas Av (F)', 'Avenue N (F)', 'Parsons Blvd (F)',
       'Kew Gardens-Union Tpke (E,F)', 'DeKalb Av (B,Q,R)',
       'Forest Hills-71 Av (E,F,M,R)', '63 Dr-Rego Park (M,R)',
       '5 Av/53 St (E,M)', 'Union St (R)', 'Bedford-Nostrand Avs (G)',
       'Van Cortlandt Park-242 St (1)', 'Marble Hill-225 St (1)',
       'Dyckman St (1)', '116 St-Columbia University (1)',
       'Cathedral Pkwy (110 St) (1)', 'Houston St (1)', 'Rector St (1)',
       'Clark St (2,3)', 'Nevins St (2,3,4,5)', 'Grand Army Plaza (2,3)',
       'Eastern Pkwy-Brooklyn Museum (2,3)', 'Crown Hts-Utica Av (3,4)',
       'Sutter Av-Rutland Rd (3)', 'Saratoga Av (3)', '59 St (N,R)',
       'Pennsylvania Av (3)', 'Van Siclen Av (3)', 'New Lots Av (3)',
       'Westchester Sq-E Tremont Av (6)', 'Parkchester (6)',
       'Morrison Av-Soundview (6)', '77 St (R)', 'Hunts Point Av (6)',
       "E 143 St-St Mary's St (6)", 'Mosholu Pkwy (4)',
       'Kingsbridge Rd (4)', 'Fordham Rd (4)', 'Burnside Av (4)',
       'Bay Ridge-95 St (R)', '116 St (6)', '110 St (6)', '103 St (6)',
       '96 St (6)', '28 St (6)', '23 St (6)', 'Astor Pl (6)',
       'Wall St (4,5)', 'Bowling Green (4,5)', 'Simpson St (2,5)',
       '125 St (2,3)', '116 St (2,3)', 'Eastchester-Dyre Av (5)',
       'Junction Blvd (7)', '69 St (7)', '33 St-Rawson St (7)',
       '34 St-Hudson Yards (7)', '72 St (Q)', 'Sheepshead Bay (B,Q)',
       'Coney Island-Stillwell Av (D,F,N,Q)',
       '14 St (F,M,1,2,3)/6 Av (L)', '14 St-Union Sq (L,N,Q,R,W,4,5,6)',
       '168 St (A,C,1)', '34 St-Herald Sq (B,D,F,M,N,Q,R,W)',
       'Bryant Pk (B,D,F,M)/5 Av (7)',
       'Times Sq-42 St (N,Q,R,W,S,1,2,3,7)/42 St (A,C,E)',
       '74-Broadway (7)/Jackson Hts-Roosevelt Av (E,F,M,R)',
       'Broadway-Lafayette St (B,D,F,M)/Bleecker St (6)',
       'Court St (R)/Borough Hall (2,3,4,5)',
       'Broadway Junction (A,C,J,L,Z)', 'Canal St (J,N,Q,R,W,Z,6)',
       'Franklin Av (2,3,4,5)/Botanic Garden (S)',
       'Jay St-MetroTech (A,C,F,R)', 'Avenue U (N)', 'Central Av (M)',
       'Bedford Av (L)', 'Montrose Av (L)', 'Dyckman St (A)',
       'Cathedral Pkwy (110 St) (C,B)', '96 St (C,B)', 'Utica Av (A,C)',
       'Bedford Park Blvd (B,D)', '182-183 Sts (B,D)',
       '21 St-Queensbridge (F)', 'Church Av (F,G)',
       'Woodhaven Blvd (M,R)', 'Grand Av-Newtown (M,R)',
       'Sutphin Blvd-Archer Av-JFK Airport (E,J,Z)',
       'Jamaica-Van Wyck (E)', 'Flushing Av (G)', '145 St (1)',
       'Junius St (3)', 'Beverly Rd (2,5)',
       'Flatbush Av-Brooklyn College (2,5)', 'Wakefield-241 St (2)',
       'West Farms Sq-E Tremont Av (2,5)', 'Freeman St (2,5)',
       '111 St (7)', 'Beverley Rd (Q)', '103 St-Corona Plaza (7)',
       '90 St-Elmhurst Av (7)', 'Queensboro Plaza (7,N,W)',
       'Newkirk Plaza (B,Q)', 'Kings Hwy (B,Q)', 'Ocean Pkwy (Q)',
       '149 St-Grand Concourse (2,4,5)',
       'Grand Central-42 St (S,4,5,6,7)',
       'Lexington Av-53 St (E,M)/51 St (6)',
       'Lexington Av (N,R,W)/59 St (4,5,6)',
       'Atlantic Av-Barclays Ctr (B,D,N,Q,R,2,3,4,5)',
       'Fulton St (A,C,J,Z,2,3,4,5)',
       'Lorimer St (L)/Metropolitan Av (G)', 'Lorimer St (M,J)',
       'Inwood-207 St (A)', '163 St-Amsterdam Av (C)', 'High St (A,C)',
       'Clinton-Washington Avs (C)', 'Grant Av (A)', 'Avenue U (F)',
       'Northern Blvd (M,R)', 'Jamaica Center-Parsons/Archer (E,J,Z)',
       'Classon Av (G)', '137 St-City College (1)', '96 St (1,2,3)',
       '79 St (1)', 'Christopher St-Sheridan Sq (1)',
       'Chambers St (1,2,3)', 'Rockaway Av (3)', 'Church Av (2,5)',
       'Bay Ridge Av (R)', '3 Av-138 St (6)',
       '138 St-Grand Concourse (4,5)', '125 St (4,5,6)',
       'Gun Hill Rd (2,5)', 'Allerton Av (2,5)', 'Baychester Av (5)',
       'Flushing-Main St (7)', 'Vernon Blvd-Jackson Av (7)',
       '161 St-Yankee Stadium (B,D,4)',
       'Delancey St (F)/Essex St (J,M,Z)', 'Bay Pkwy (N)',
       'Kings Hwy (N)', 'Flushing Av (M,J)', 'Astoria-Ditmars Blvd (N,W)',
       'Fresh Pond Rd (M)', 'Halsey St (L)', 'Wilson Av (L)',
       '103 St (C,B)', 'Kingston-Throop Avs (C)', '18 Av (F)',
       'Bay Pkwy (F)', '46 St (M,R)', 'Steinway St (M,R)',
       'Greenpoint Av (G)', '191 St (1)', 'Winthrop St (2,5)',
       'Pelham Bay Park (6)', 'Bedford Park Blvd-Lehman College (4)',
       'Prospect Av (2,5)', '3 Av-149 St (2,5)', 'Harlem-148 St (3)',
       '52 St (7)', 'Hunters Point Av (7)', '39 Av-Dutch Kills (N,W)',
       '59 St-Columbus Circle (A,B,C,D,1)',
       'Brooklyn Bridge-City Hall (4,5,6)/Chambers St (J,Z)',
       '57 St-7 Av (N,Q,R,W)', 'Grand St (L)', 'Morgan Av (L)',
       'East 105 St (L)', 'Liberty Av (C)', 'Aqueduct Racetrack (A)',
       'Bergen St (F,G)', 'Fort Hamilton Pkwy (F,G)', 'Avenue P (F)',
       'Kings Hwy (F)', '169 St (F)', 'Myrtle-Willoughby Avs (G)',
       'Clinton-Washington Avs (G)', '157 St (1)',
       '34 St-Penn Station (1,2,3)', 'Franklin St (1)',
       'WTC Cortlandt (1)', 'Wall St (2,3)', 'Sterling St (2,5)',
       'Newkirk Av-Little Haiti (2,5)', 'St Lawrence Av (6)',
       'Parkside Av (Q)', 'Mets-Willets Point (7)',
       '82 St-Jackson Hts (7)', 'Cortelyou Rd (Q)',
       'W 8 St-NY Aquarium (F,Q)', '225 St (2,5)',
       'Fort Hamilton Pkwy (D)', '4 Av (F,G)/9 St (R)',
       '14 St (A,C,E)/8 Av (L)', 'South Ferry (1)/Whitehall St (R,W)',
       'Fort Hamilton Pkwy (N)', 'Woodhaven Blvd (J,Z)',
       'St George (SIR)', 'Marcy Av (M,J,Z)', 'Knickerbocker Av (M)',
       '28 St (R,W)', 'Livonia Av (L)', '116 St (C,B)',
       'Astoria Blvd (N,W)', 'Norwood-205 St (D)', 'Smith-9 Sts (F,G)',
       '15 St-Prospect Park (F,G)', '67 Av (M,R)', 'Queens Plaza (E,M,R)',
       'Nassau Av (G)', 'Bergen St (2,3)', 'Kingston Av (3)',
       'President St-Medgar Evers College (2,5)', 'Whitlock Av (6)',
       '167 St (4)', 'Spring St (6)', 'Burke Av (2,5)', 'Pelham Pkwy (5)',
       'New Utrecht Av (N)/62 St (D)', 'Myrtle-Wyckoff Avs (L,M)',
       '85 St-Forest Pkwy (J)', '75 St-Elderts Ln (J,Z)',
       'Crescent St (J,Z)', 'Van Siclen Av (J,Z)', 'Alabama Av (J)',
       'Chauncey St (J,Z)', 'Broad St (J,Z)', 'Seneca Av (M)',
       'DeKalb Av (L)', '135 St (C,B)', 'Rector St (R,W)',
       'Lexington Av/63 St (F,Q)', 'Grand St (B,D)', 'Briarwood (E,F)',
       'Central Park North (110 St) (2,3)', 'Neck Rd (Q)', '55 St (D)',
       'Chambers St (A,C)/WTC (E)/Park Pl (2,3)/Cortlandt (R,W)',
       'Cleveland St (J)', '181 St (A)', 'Spring St (C,E)', '104 St (A)',
       '125 St (1)', '66 St-Lincoln Center (1)', '18 St (1)',
       '7 Av (B,Q)', 'Morris Park (5)', '121 St (J,Z)',
       'Norwood Av (J,Z)', '81 St-Museum of Natural History (C,B)',
       'Aqueduct-N Conduit Av (A)', 'Avenue J (Q)', 'Avenue U (Q)',
       'Tompkinsville (SIR)', 'Middle Village-Metropolitan Av (M)',
       'Canarsie-Rockaway Pkwy (L)', '155 St (C)', 'Roosevelt Island (F)',
       '68 St-Hunter College (6)', '46 St-Bliss St (7)', '86 St (4,5,6)',
       '18 Av (N)', 'RI Tramway (Manhattan)', 'RI Tramway (Roosevelt)'],
      dtype=object)

In [73]:
commutes=march[march['station_complex'].str.contains('125 St|Jay St-MetroTech|34 St-Penn', na=False)]
commutes

,station_complex,borough,ridership,latitude,longitude,Georeference,datetime
23438,"125 St (A,C,B,D)",Manhattan,3,40.811108,-73.952350,POINT (-73.95235 40.811108),2025-03-24 07:00:00
1183139,"34 St-Penn Station (A,C,E)",Manhattan,12,40.752290,-73.993390,POINT (-73.99339 40.75229),2025-03-24 00:00:00
1183260,"125 St (2,3)",Manhattan,4,40.807755,-73.945496,POINT (-73.945496 40.807755),2025-03-24 00:00:00
1183261,"125 St (2,3)",Manhattan,2,40.807755,-73.945496,POINT (-73.945496 40.807755),2025-03-24 00:00:00
1183293,"Jay St-MetroTech (A,C,F,R)",Brooklyn,2,40.692337,-73.987340,POINT (-73.98734 40.692337),2025-03-24 00:00:00
...,...,...,...,...,...,...,...
1269449,"Jay St-MetroTech (A,C,F,R)",Brooklyn,70,40.692337,-73.985940,POINT (-73.98594 40.692337),2025-03-24 18:00:00
1269450,"Jay St-MetroTech (A,C,F,R)",Brooklyn,157,40.692337,-73.985940,POINT (-73.98594 40.692337),2025-03-24 18:00:00
1269523,"125 St (4,5,6)",Manhattan,37,40.804140,-73.937590,POINT (-73.93759 40.80414),2025-03-24 19:00:00
1269741,"125 St (2,3)",Manhattan,94,40.807755,-73.945496,POINT (-73.945496 40.807755),2025-03-24 21:00:00
1269899,"125 St (2,3)",Manhattan,1,40.807755,-73.945496,POINT (-73.945496 40.807755),2025-03-24 23:00:00

In [74]:
commutes['hour'] = commutes['datetime'].dt.hour  
commutes.groupby(['station_complex', 'hour']).size()

/var/folders/2h/mxr2292918v68144kbqd531r0000gn/T/ipykernel_34089/3620423105.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  commutes['hour'] = commutes['datetime'].dt.hour

station_complex             hour
125 St (1)                  0        5
                            1        3
                            2        4
                            3        8
                            4        7
                                    ..
Jay St-MetroTech (A,C,F,R)  19      11
                            20      11
                            21      11
                            22      11
                            23      11
Length: 168, dtype: int64

In [75]:
stations = [
    "125 St (A,C,B,D)",
    "59 St-Columbus Circle (A,B,C,D,1)",
    "7 Av (E,B,D)",
    "47-50 Sts-Rockefeller Ctr (B,D,F,M)",
    "Bryant Pk (B,D,F,M)/5 Av (7)",
    "34 St-Herald Sq (B,D,F,M,N,Q,R,W)"
]

commute_coords = march[
    (march['datetime'].dt.time >= pd.to_datetime("08:00").time()) &
    (march['datetime'].dt.time < pd.to_datetime("09:00").time()) &
    (march['station_complex'].isin(stations))
][['station_complex', 'latitude', 'longitude', 'ridership']]

In [76]:
commute_coords = commute_coords.groupby(
    ['station_complex', 'latitude', 'longitude']
)['ridership'].sum().reset_index()

In [77]:
print(commute_coords)

                       station_complex   latitude  longitude  ridership
0                     125 St (A,C,B,D)  40.811108 -73.952350       1864
1    34 St-Herald Sq (B,D,F,M,N,Q,R,W)  40.749718 -73.987820       4440
2  47-50 Sts-Rockefeller Ctr (B,D,F,M)  40.758663 -73.981330        420
3    59 St-Columbus Circle (A,B,C,D,1)  40.768295 -73.981735       2307
4                         7 Av (E,B,D)  40.762863 -73.981636        450
5         Bryant Pk (B,D,F,M)/5 Av (7)  40.754223 -73.984566         11
6         Bryant Pk (B,D,F,M)/5 Av (7)  40.754223 -73.981964        684

## for Tuesday

In [78]:
import datetime
tuesday = df[df['date'] == datetime.date(2025, 3, 25)]
tuesday

,transit_timestamp,transit_mode,station_complex_id,station_complex,borough,payment_method,fare_class_category,ridership,transfers,latitude,longitude,Georeference,datetime,date
22230,03/25/2025 12:00:00 AM,subway,260,"75 Av (E,F)",Queens,omny,OMNY - Full Fare,1,0,40.718330,-73.837326,POINT (-73.837326 40.71833),2025-03-25 00:00:00,2025-03-25
22231,03/25/2025 03:00:00 AM,subway,254,Jamaica-179 St (F),Queens,omny,OMNY - Other,4,1,40.712646,-73.783810,POINT (-73.78381 40.712646),2025-03-25 03:00:00,2025-03-25
22232,03/25/2025 04:00:00 AM,subway,33,45 St (R),Brooklyn,omny,OMNY - Full Fare,38,0,40.648937,-74.010010,POINT (-74.01001 40.648937),2025-03-25 04:00:00,2025-03-25
22233,03/25/2025 04:00:00 AM,subway,385,176 St (4),Bronx,omny,OMNY - Other,1,0,40.848480,-73.911800,POINT (-73.9118 40.84848),2025-03-25 04:00:00,2025-03-25
22234,03/25/2025 05:00:00 AM,subway,418,"233 St (2,5)",Bronx,omny,OMNY - Students,6,1,40.893192,-73.857475,POINT (-73.857475 40.893192),2025-03-25 05:00:00,2025-03-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7539126,03/25/2025 12:00:00 PM,tram,TRAM1,RI Tramway (Manhattan),Manhattan,metrocard,Metrocard - Full Fare,30,5,40.761337,-73.964160,POINT (-73.96416 40.761337),2025-03-25 12:00:00,2025-03-25
7539127,03/25/2025 02:00:00 PM,tram,TRAM1,RI Tramway (Manhattan),Manhattan,metrocard,Metrocard - Seniors & Disability,3,1,40.761337,-73.964160,POINT (-73.96416 40.761337),2025-03-25 14:00:00,2025-03-25
7539128,03/25/2025 05:00:00 PM,tram,TRAM1,RI Tramway (Manhattan),Manhattan,metrocard,Metrocard - Unlimited 30-Day,33,0,40.761337,-73.964160,POINT (-73.96416 40.761337),2025-03-25 17:00:00,2025-03-25
7539129,03/25/2025 08:00:00 PM,tram,TRAM2,RI Tramway (Roosevelt),Manhattan,metrocard,Metrocard - Other,1,0,40.757340,-73.954120,POINT (-73.95412 40.75734),2025-03-25 20:00:00,2025-03-25
7539130,03/25/2025 11:00:00 PM,tram,TRAM1,RI Tramway (Manhattan),Manhattan,omny,OMNY - Seniors & Disability,1,1,40.761337,-73.964160,POINT (-73.96416 40.761337),2025-03-25 23:00:00,2025-03-25

In [79]:
columns_to_drop = ["transit_timestamp", "date","transit_mode", "station_complex_id", "payment_method", "fare_class_category", "transfers"]
tuesday = tuesday.drop(columns=columns_to_drop)
tuesday

,station_complex,borough,ridership,latitude,longitude,Georeference,datetime
22230,"75 Av (E,F)",Queens,1,40.718330,-73.837326,POINT (-73.837326 40.71833),2025-03-25 00:00:00
22231,Jamaica-179 St (F),Queens,4,40.712646,-73.783810,POINT (-73.78381 40.712646),2025-03-25 03:00:00
22232,45 St (R),Brooklyn,38,40.648937,-74.010010,POINT (-74.01001 40.648937),2025-03-25 04:00:00
22233,176 St (4),Bronx,1,40.848480,-73.911800,POINT (-73.9118 40.84848),2025-03-25 04:00:00
22234,"233 St (2,5)",Bronx,6,40.893192,-73.857475,POINT (-73.857475 40.893192),2025-03-25 05:00:00
...,...,...,...,...,...,...,...
7539126,RI Tramway (Manhattan),Manhattan,30,40.761337,-73.964160,POINT (-73.96416 40.761337),2025-03-25 12:00:00
7539127,RI Tramway (Manhattan),Manhattan,3,40.761337,-73.964160,POINT (-73.96416 40.761337),2025-03-25 14:00:00
7539128,RI Tramway (Manhattan),Manhattan,33,40.761337,-73.964160,POINT (-73.96416 40.761337),2025-03-25 17:00:00
7539129,RI Tramway (Roosevelt),Manhattan,1,40.757340,-73.954120,POINT (-73.95412 40.75734),2025-03-25 20:00:00
7539130,RI Tramway (Manhattan),Manhattan,1,40.761337,-73.964160,POINT (-73.96416 40.761337),2025-03-25 23:00:00

In [87]:
emina_school_route = [
    "125 St (A,C,B,D)",
    "59 St-Columbus Circle (A,B,C,D,1)",
    "42 St-Port Authority Bus Terminal (A,C,E)",
    "34 St-Penn Station (A,C,E)",
    "14 St (A,C,E)/8 Av (L)",
    "W 4 St-Wash Sq (A,C,E,B,D,F,M)",
    "Canal St (A,C,E)",
    "Chambers St (A,C)/WTC (E)/Park Pl (2,3)/Cortlandt (R,W)",
    "Fulton St (A,C,J,Z,2,3,4,5)",
    "High St (A,C)",
    "Jay St-MetroTech (A,C,F,R)"
]

commute_coords = tuesday[
    (tuesday['datetime'].dt.time >= pd.to_datetime("08:00").time()) &
    (tuesday['datetime'].dt.time <= pd.to_datetime("09:00").time()) &
    (tuesday['station_complex'].isin(emina_school_route))
][['station_complex', 'latitude', 'longitude', 'ridership', 'datetime']]
commute_coords = commute_coords.groupby(
    ['station_complex', 'latitude', 'longitude']
)['ridership'].sum().reset_index()
commute_coords

,station_complex,latitude,longitude,ridership
0,"125 St (A,C,B,D)",40.811108,-73.952350,3410
1,"14 St (A,C,E)/8 Av (L)",40.739777,-74.002580,1
2,"14 St (A,C,E)/8 Av (L)",40.740894,-74.001690,2833
3,"34 St-Penn Station (A,C,E)",40.752290,-73.993390,12810
4,"59 St-Columbus Circle (A,B,C,D,1)",40.768295,-73.981735,4874
5,"Canal St (A,C,E)",40.720825,-74.005226,845
6,"Chambers St (A,C)/WTC (E)/Park Pl (2,3)/Cortla...",40.714110,-74.008580,4834
7,"Fulton St (A,C,J,Z,2,3,4,5)",40.710197,-74.007690,1
8,"Fulton St (A,C,J,Z,2,3,4,5)",40.710370,-74.006570,13
9,"Fulton St (A,C,J,Z,2,3,4,5)",40.710373,-74.006570,8632
10,"High St (A,C)",40.699337,-73.990530,1352
11,"Jay St-MetroTech (A,C,F,R)",40.692337,-73.987340,41
12,"Jay St-MetroTech (A,C,F,R)",40.692337,-73.985940,3069
13,"W 4 St-Wash Sq (A,C,E,B,D,F,M)",40.732338,-74.000496,3526